h4{
padding-left: 22%;
padding-right: 22%;
text-align: center;
width: 100vw;
}
ul{
text-align: justify;
padding-left: 25%;
padding-right: 10%;
font-size: larger;
color: #eee;
}
*{
margin: 0;
padding: 0;
text-decoration: none;
}
body{
    color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
width: 100vw;
background-image: linear-gradient(to left, var(--accent-color-bg), var(--gradient-color-bg));
--accent-color: #067;
--gradient-color: #078;
--accent-color-bg: #045;
--accent-color-bgd: #045d;
--gradient-color-bg: #023;
--gradient-color-sb: #223;
--gradient-color-a: #aef;
transition: all 1s ease-out;
}
.sidebar{
position: fixed;
width: 240px;
left: -240px;
top:0;
height: 100%;
color: #fff;
background-color: var(--gradient-color-sb);
transition: 250ms;
}
.sidebar header{
font-size: 40px;
color: #fff;
line-height: 70px;
text-align: center;
border-left: 5px solid var(--accent-color);
border-bottom: 3px solid #fff7;
background-image: linear-gradient(to left, var(--accent-color), var(--gradient-color));
user-select: none;
font-family: 'Lato', sans-serif;
transition: 250ms;
}
.sidebar a{
display: block;
height: 65px;
width: 100%;
color: #fff;
line-height: 65px;
padding-left: 30px;
box-sizing: border-box;
border-left: 5px solid transparent;
font-family: 'Lato', sans-serif;
transition: 250ms;
}
.sidebar a:hover{
border-left: 5px solid var(--accent-color);
color: #fff;
background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
transition: 250ms;
cursor: pointer;
text-decoration: none;
}
.active{
cursor: pointer;
border-left: 5px solid var(--accent-color);
color: #fff;
background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
transition: 250ms;
}
.sidebar a i{
font-size: 23px;
margin-right: 16px;
transition: 250ms;
}
.sidebar a span{
letter-spacing: 1px;
text-transform: uppercase;
transition: 250ms;
}
#check{
display: none;
}
label #btn,label #cancel{
position: fixed;
top: 10px;
left: 5px;
cursor: pointer;
color: #aaa;
border-radius: 5px;
margin: 15px 30px;
font-size: 29px;
background-color: #fff;
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
3.5px 3.5px 20px 0px rgba(0,0,0,.1),
2px 2px 5px 0px rgba(0,0,0,.1);
height: 45px;
width: 45px;
text-align: center;
text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
line-height: 45px;
transition: 250ms;
}
label #cancel{
opacity: 0;
visibility: hidden;
}
#check:checked ~ .sidebar{
left: 0;
top: 0;
}
#check:checked ~ label #btn{
margin-left: 245px;
opacity: 0;
visibility: hidden;
}
#check:checked ~ label #cancel{
margin-left: 245px;
opacity: 1;
visibility: visible;
}
@media(max-width : 860px){
.sidebar{
    height: auto;
    width: 70px;
    margin: 100px 0;
    transition: 250ms;
}
header{
    display: none;
}
.sidebar a span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
    transition: 250ms;
}
.sidebar a{
    height: 60px;
    transition: 250ms;
}
.sidebar a i{
    margin-left: -10px;
    width: 10px;
}
a:hover {
    width: 210px;
    background: inherit;
    transition: 250ms;
}
.sidebar a:hover span{
    opacity: 1;
    visibility: visible;
    transition: 250ms;
    text-decoration: none;
}
#check:checked ~ label #btn{
margin-left: 30px;
opacity: 0;
visibility: hidden;
}
#check:checked ~ label #cancel{
margin-left: 30px;
opacity: 1;
visibility: visible;
}
}
.frame {
width: 50%;
height: 30%;
margin: auto;
text-align: center;
transition-duration: 500ms;
}
.orange{
    --accent-color: #c40;
    --gradient-color: #a60;
    --accent-color-bg: #740;
    --accent-color-bgd: #720d;
    --gradient-color-bg: #720;
    --gradient-color-sb: #322;
    --gradient-color-a: #fca;
}
.purple{
    --accent-color: #a04;
    --gradient-color: #903;
    --accent-color-bg: #702;
    --accent-color-bgd: #804d;
    --gradient-color-bg: #a04;
    --gradient-color-sb: #302;
    --gradient-color-a: #fdf;
}
.green{
    --accent-color: #094;
    --gradient-color: #073;
    --accent-color-bg: #062;
    --accent-color-bgd: #062d;
    --gradient-color-bg: #051;
    --gradient-color-sb: #032;
    --gradient-color-a: #afc;
}
.black{
    --accent-color: #333;
    --gradient-color: #222;
    --accent-color-bg: #222;
    --accent-color-bgd: #222d;
    --gradient-color-bg: #111;
    --gradient-color-sb: #111;
    --gradient-color-a: #ccc;
}
#home{
    display:contents;
}
#about{
    display: none;
}
#aboutme{
    display: none;
}
#contact{
    display: none;
}
.games{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.games a{
    font-size:100px;
    height: 150px;
    color:#fffe;
    width: 150px;
    display: inline-block;
    border-radius: 15%;
    transition: 250ms;
}
.games a:hover{
    border-left: 0px;
    color: var(--accent-color-bgd);
    background: #fffd;
    transition: 250ms;
    text-decoration: none;
}
.contac{
    padding-left: 15%;
    padding-right: 15%;
    align-items: middle;
    display: inline-block;
}
.contac a i{
    font-size:75px;
    color:#fffe;
    border-radius: 20%;
    width: 90px;
    height: 80px;
    transition: 250ms;
}
.contac a i:hover{
    background: #fffd;
    color: var(--accent-color-bg);
    transition: 250ms;
}
p a{
    color: #fff;
    text-decoration: underline;
}
p a:hover{
    color: #fff;
    text-transform:uppercase;
}
#radio{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    display: block;
    color: #fff;
}
#radio a{
    display: inline-block;
    width: fit-content + 5;
    border-radius: 10px;
}
#radio a:hover {
    color: var(--gradient-color);
    background: #fff;
}

#radio .radio {
    color: var(--gradient-color-a);
}
canvas{
    border: 4px solid var(--gradient-color-a);
}
center a i{
    color: var(--gradient-color-a);
    font-size: 60px;
}