body {
    background-color: antiquewhite;
    color: saddlebrown;
}

#board {
    margin-top: 7vh;
    min-height: 93vh;
}
.square {
    width: 100vmin;
    height: 100vmin;
    background-image: url('kattai.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#numberInput {
    outline: none;
    border: 1px solid rgba(250, 235, 215, 0.8);
    background-color: rgba(139, 69, 19, 0.7);
    width: 60vmin;
    height: 20vmin;
    border-radius: 3vmin;
    display: inline-block;
    text-align: center;
    font-size: 13vmin;
    color: antiquewhite;
}
th {
    outline: none;
    border: 1px solid rgba(250, 235, 215, 0.8);
    background-color: rgba(139, 69, 19, 0.7);
    width: 30vmin;
    height: 20vmin;
    border-radius: 3vmin;
    display: inline-block;
    text-align: center;
    font-size: 13vmin;
    color: antiquewhite;
}