body {
    margin-top: 4vw;
    background-color: oldlace;
    color: sienna;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#board {
    width: 90vw;
    font-size: 6.5vw;
    border: 0.5vw solid sienna;
    background-color: saddlebrown;
}

#about {
    display: none;
}

ul{
    text-align: justify;
    padding-left: 25%;
    padding-right: 10%;
}

.kuli1 {
    display: block;
    color: oldlace;
    background-color: peru;
    border: 1vw solid saddlebrown;
    height: 13vw;
    border-radius: 2vw;
}

.kuli2 {
    display: block;
    color: oldlace;
    background-color: chocolate;
    border: 1vw solid saddlebrown;
    height: 13vw;
    border-radius: 2vw;
}

#play1 .kuli3 {
    background-color: #fffa;
    color: peru;
}

#play2 .kuli3 {
    background-color: #fffa;
    color: chocolate;
}

#play p span {
    width: 24vw;
    border-radius: 5vw;
    display: inline-block;
}

#play {
    display: block;
    color: oldlace;
    height: 12vw;
}

#board span {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    border: 2px solid oldlace;
}

.previousv {
    background-color: saddlebrown;
    color: oldlace;
}

.currentv {
    background-color: sienna;
    color: oldlace;
}

.fas {
    display: inline-block;
    vertical-align: middle;
}

#check{
display: none;
}

label #btn,label #cancel{
position: fixed;
top: 0vw;
left: 0vw;
cursor: pointer;
color: sienna;
margin: 1vw;
font-size: 3vw;
}
label #cancel{
opacity: 0;
visibility: hidden;
}
#check:checked ~ label #btn{
margin-left: 1vw;
opacity: 0;
visibility: hidden;
}
#check:checked ~ label #cancel{
margin-left: 1vw;
opacity: 1;
visibility: visible;
}